 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }
 
 :root {
     /* 
    mobile: 375px;
    desktop: 1440px;
    */
     --c-primary-moderate-cyan: hsl(176, 50%, 47%);
     --c-primary-dark-cyan: hsl(176, 72%, 28%);
     --c-neutral-back: hsl(0, 0%, 0%);
     --c-neutal-dark-gray: hsl(0, 0%, 48%);
     --ff: "Comisstioner", sans-serif;
     --fw-1: 400;
     --fw-2: 500;
     --fw-3: 700;
 }
 
 html {
     font-size: 62.5%;
 }
 
 a {
     text-decoration: none;
     color: #333;
 }
 
 ul {
     list-style: none;
 }
 
 .btn {
     background: #333;
     color: #fff;
     padding: 1rem 1.6rem;
     border-radius: 5000px;
     font-weight: var(--fw-3);
 }
 
 .btn--primary {
     color: #fff;
     background: var(--c-primary-moderate-cyan);
 }
 
 img {
     width: 100%;
     object-fit: cover;
 }
 /*  */
 
 header {
     display: none;
 }
 
 body {
     background: rgb(240, 240, 240) !important;
     font-family: var(--ff);
     font-size: 1.6rem;
     width: 100vw;
     min-height: 100vh;
     line-height: 1.6;
     /* overflow: hidden; */
     max-width: 1400px;
     margin: 0 auto;
 }
 /* main width dimension */
 
 main {
     width: 90%;
     min-width: 320px;
     max-width: 1100px;
     margin: 0 auto;
 }
 /*  */
 
 section {
     margin: 4rem 0;
     border-radius: 10px;
     background: #fff;
     padding: 1.9rem 1.8rem;
 }
 /*  */
 /*  */
 /*  */
 /* section header */
 
 .section__header {
     text-align: center;
     position: relative;
     top: 0;
     left: 0;
 }
 
 .section__logo {
     max-width: 40px;
     position: absolute;
     top: 0;
     left: 50%;
     transform: translate(-50%, -50%);
 }
 
 .section__header .title {
     font-size: 2rem;
     font-weight: var(--fw-3);
     margin-top: 3rem;
 }
 
 .section__header .text {
     color: var(--c-neutal-dark-gray);
     margin: 2rem 0;
 }
 
 .section__header .section__action {
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .section__action .btn--primary {
     flex-grow: 1;
     flex-shrink: 0;
     flex-basis: 60%;
 }
 
 .section__action--bookmark {
     flex-grow: 1;
     flex-shrink: 0;
     flex-basis: auto;
     max-width: 45px;
     padding-top: .6rem;
     margin-left: 1rem;
 }
 
 .section__stats {
     text-align: center;
     width: 100%;
 }
 
 .section__stat {
     margin-bottom: 5rem;
     position: relative;
 }
 
 .section__stat::after {
     content: "";
     position: absolute;
     bottom: 0;
     left: 0;
     height: 1px;
     width: 20%;
     margin-left: 40%;
     background: rgba(163, 163, 163, 0.397);
     transform: translateY(2.5rem);
 }
 
 .section__stat .price,
 .section__date .date {
     font-size: 2.6rem;
     font-weight: var(--fw-3);
 }
 
 .section__stat .info,
 .section__date .info {
     font-size: 1.2rem;
     letter-spacing: 1px;
     font-weight: var(--fw-3);
     color: var(--c-neutal-dark-gray)
 }
 
 .section__progress-bar {
     background: rgb(224, 224, 224);
     width: 80%;
     margin: 2rem auto;
     height: 10px;
     border-radius: 10000px;
     position: relative;
     overflow: hidden;
 }
 
 .section__progress-bar::after {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     height: 10px;
     width: 70%;
     border-radius: 10000px;
     background: var(--c-primary-moderate-cyan)
 }
 
 .section__about {}
 
 .section__about .title {
     font-size: 2rem;
     font-weight: var(--fw-3);
     padding: 1.6rem 0;
 }
 
 .section__about .text {
     margin-bottom: 1rem;
     color: var(--c-neutal-dark-gray);
     font-size: 1.4rem;
     line-height: 1.8;
 }
 
 .section__project {
     border: 1px solid rgb(238, 238, 238);
     border-radius: 5px;
     padding: 1.6rem;
     margin-bottom: 2rem;
 }
 
 .section__project .title {
     font-size: 1.6rem;
     font-weight: var(--fw-3);
     padding-bottom: 0;
 }
 
 .section--small {
     display: inline-block;
     font-size: 1.4rem;
     color: var(--c-primary-moderate-cyan);
     margin-bottom: 2rem;
 }
 
 .section__project__seat {
     margin: 4rem 0;
 }
 
 .section__project__seat p {
     font-size: 3rem;
     font-weight: var(--fw-3);
 }
 
 .section__project__seat span {
     font-size: 1.6rem;
     font-weight: var(--fw-1);
     color: var(--c-neutal-dark-gray);
 }
 /* header and hamburger button for mobile */
 
 .header {
     display: block;
     background-image: url("../images/image-hero-mobile.jpg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
 }
 
 .nav {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: flex-start;
     min-height: 40vh;
     padding: 2rem 4rem;
     position: relative;
     top: 0;
     left: 0;
 }
 
 .header__img--logo {
     max-width: 80px;
 }
 
 .nav-list {
     display: none;
 }
 
 @keyframes nav__animation {
     0% {
         opacity: 0;
         display: none;
         transform: scaleY(0) scaleX(0);
     }
     80% {
         opacity: .6;
     }
     98% {
         opacity: .9;
     }
     100% {
         opacity: 1;
         display: block;
         transform: scaleY(1) scaleX(1);
     }
 }
 
 .show .nav-list {
     display: block;
     z-index: 999;
     position: absolute;
     top: 8vh;
     left: 0;
     width: 90%;
     margin-left: 5%;
     background: #fff;
     border-radius: 5px;
     padding: 1.8rem;
     font-weight: var(--fw-2);
     font-size: 3rem;
     animation-name: nav__animation;
     animation-duration: 1s;
     animation-timing-function: ease-in-out;
     animation-fill-mode: forwards;
     animation-direction: alternate;
 }
 
 .show .nav-item:not(:last-child) {
     padding-bottom: 1rem;
     border-bottom: 1px solid rgb(221, 221, 221);
 }
 /* out of order last card box */
 
 .out-of-stock {}
 
 .out-of-stock .title,
 .out-of-stock .text,
 .out-of-stock .section--small,
 .out-of-stock .section__project__seat,
 .out-of-stock .section__project__action {
     opacity: .3;
 }
 /* media query ipad */
 
 @media (min-width: 810px) {
     body {}
     /* turn off hamburger button */
     /* spread out the nav list nav item */
     .header {
         display: block;
         background-image: url("../images/image-hero-desktop.jpg");
     }
     .nav {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: flex-start;
         min-height: 40vh;
         padding: 1.8rem;
         position: relative;
         top: 0;
         left: 0;
     }
     .nav__hamburger__img img {
         display: none;
     }
     .nav__hamburger__img .nav-list {
         display: flex;
         flex-direction: row;
         justify-content: space-around;
         z-index: 999;
         position: unset;
         min-width: 300px;
         transform: translateX(-8rem);
     }
     .nav__hamburger__img .nav-link {
         color: #fff;
         font-size: 1.2rem;
         letter-spacing: 2px;
         font-weight: var(--fw-3);
     }
     /* main sections */
     .section__header .section__action {
         display: flex;
         justify-content: space-around;
         align-items: center;
     }
     .section__header .btn--primary {
         flex-basis: 40%;
         max-width: 20rem;
     }
     .section__header .section__action--bookmark {
         position: relative;
         flex-basis: 40%;
         z-index: 99;
     }
     .section__header .section__action--bookmark::after {
         content: "Bookmark";
         position: absolute;
         top: 0;
         left: 70%;
         height: 70%;
         padding: 0 2rem;
         margin-top: 20%;
         font-size: 1rem;
         font-weight: var(--fw-3);
         display: flex;
         justify-content: center;
         align-items: center;
         border-radius: 10000px;
         background: rgba(233, 233, 233, 0.342);
         z-index: -1;
     }
     .section__project {
         position: relative;
         top: 0;
         left: 0;
     }
     .section__project .title {
         margin-bottom: 2.6rem;
         font-size: 2rem;
     }
     .section__project .text {
         max-width: 700px;
         font-size: 1.4rem;
     }
     .section--small {
         position: absolute;
         right: 1.6rem;
         top: 2.2rem;
     }
     .section__project .btn--primary {
         position: absolute;
         right: 1rem;
         bottom: 4rem;
     }
 }

 .modal {
     min-width: 320px;
     max-width: 1100px;
     width: 90%;

     background: #fff;

     margin: 0 5%;
     padding: 3rem;

     box-shadow: 0 10px 20px rgba(0,0,0,.3);
     border: none;
     border-radius: 10px;

     display: none;
     flex-direction: column;
     justify-content: space-around;

     position: absolute;
     top: 20vh;
     left: 0;
 }

 .modal.show {
     display: flex;

     animation-name: modalAnimation;
     animation-duration: 2s;
     animation-fill-mode: both;
 }

 @keyframes modalAnimation {
     from {
         transform: scaleX(0);
     }
    to {
        transform: scaleX(1);
    }
 }
 .modal > * {
     z-index: 10;

 }
 .model__background {
    background: rgba(204, 204, 204, 0.418);
    width: 200vw;
    height: 3000vh;
    margin: 0;

    position: absolute;
    left: -200px;
    top: -400px;
    z-index: -1;
}

 .modal__title {
     display: flex;
     justify-content: space-between;
     align-items: center;

     font-size: 2rem;
     font-weight: var(--fw-3);
     color: #333;

     
     margin-bottom: 1rem;
     
 }

 .modal__title  span button{
    border:none;
    background: none;
    font-size: 2rem;
    font-weight: var(--fw-3);

    color: rgb(158, 158, 158);
    cursor: pointer;
 }

 .modal__text {
     font-size: 1.5rem;


     color: rgb(158, 158, 158);
 }

 .selections {
     margin: 2rem 0;
 }

 .select {
     border: 1px solid rgb(228, 228, 228);
     border-radius: 10px;

     padding: 1.3rem;

     display: grid;
     grid-template-columns: 1fr 10fr;
     grid-template-rows: 1fr minmax(25px , auto) auto;
     column-gap: 1rem;

     align-items: center;
 }

 .select:not(:last-of-type) {
    margin-bottom: 3rem;
 }

 .select:first-child .select__title{

    grid-row: span 2;
 }

 .select__title {
     font-weight: var(--fw-3);
     
 }

 .select__button {
     grid-column: 1 span 2;
     grid-row: 1;

     transform: translateY(10px);
 }

 .select__text {
     grid-column: 1 / -1;
     grid-row: 3;
     color: rgb(71, 71, 71);
     font-size: 1.4rem;
     font-weight: var(--fw-2);
     line-height: 1.8;
 }

 .select__price-pleade {
     grid-row: 2;
     grid-column: 2;
     color: var(--c-primary-moderate-cyan);
     font-size: 1.2rem;
     font-weight: var(--fw-2);
 }

 .select.select__out-of-order {
     opacity: .5;
     cursor: not-allowed;
 }

 .select.select__out-of-order input {
     cursor: not-allowed;
 }

 input[type="radio"]
 {
     -webkit-appearance: none;
     appearance: none;
     background: #fff;
     margin: 0;

     font: inherit;
     color: currentColor;
     width: 25px;
     height: 25px;
     border: 1px solid rgb(209, 209, 209);
     border-radius: 50%;

     display: grid;
     place-content: center;
 }

 input[type="radio"]::before {
     content: "";
     width: 15px;
     height: 15px;
     border-radius: 50%;
     transform: scale(0);
     transition: 120ms transform  ease-in-out;
     box-shadow: inset 1em 1em var(--c-primary-moderate-cyan);

 }

 input[type='radio']:checked::before {
     transform: scale(1);
 }